# Ignore folders and its contents
/.venv/
/-v/

# Ignore folders and its contents, any location
**/__pycache__/

# Ignore files from folder, kept it.
*temp/*
!temp/.gitkeep

#ignore specific files
config/config.ini
analyses.py

# Ignore files with extension
*.txt

# Dont Ignore files below
!Requirements.txt